* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

body {
    background-image: url(./imgs/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    color: #fff;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.head h3 {
    font-size: 2rem;
    font-weight: 600;
}

.head h5 {
    font-style: italic;
}

.nav {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #696968, #b6b8b5);
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

main {
    margin-bottom: 2rem;
}

.nav ul {
    display: flex;
    gap: 16px;
}

.nav ul a {
    display: block;
    color: #fff;
    font-weight: 600;
}

.search__m input {
    padding: .2rem;
    border-radius: 3px;
    color: #696968;
    border: none;
    outline: none;
}

.search input {
    padding: .2rem;
    border-radius: 3px;
    color: #696968;
    border: none;
    outline: none;
}

.search__m {
    display: none;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    margin-top: 3rem;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    height: max-content;
}

.left h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.left p {
    color: #696968;
    margin-bottom: .5rem;
    font-weight: 500;
}

.left p>span {
    color: #6285ae;
}

.left-img {
    margin-bottom: 1rem;
}

.menu {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: .5rem 2rem;
    border-radius: 8px;
}

.m__head {
    padding: .4rem 0;
    border-bottom: 1px solid rgba(105, 105, 104, .4);
}

.m__nav {
    padding-bottom: 1rem;
}

.m__nav ul a {
    display: block;
    color: #6285ae;
    padding: .3rem 0;
    border-bottom: 1px solid rgba(105, 105, 104, .4);
    font-weight: 500;
}

.m__nav ul a small {
    color: #696968;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
    .search {
        display: none;
    }
    .search__m {
        display: block;
    }
    .content {
        grid-template-columns: 1fr;
    }
}